<footer>
    <div class=" rodape">
        <div class="links-footer">
            <h2>Links Úteis</h2>
            <ul>
                <li>
                    <a href="#">Fale Conosco</a>
                </li>
                <li>
                    <a href="#">Unidades</a>
                </li>
                <li>
                    <a href="#">Horários</a>
                </li>
                <li>
                    <a href="#">SAC</a>
                </li>
            </ul>
        </div>
        <div>
            <h2>Páginas</h2>
            <ul>
                <li>
                    <a href="#">Início</a>
                </li>
                <li>
                    <a href="#">Parceiros</a>
                </li>
                <li>
                    <a href="#">Youtube</a>
                </li>
                <li>
                    <a href="#">Whatsapp</a></li>
            </ul>
        </div>
        <img class="logo-rodape"src="assets\img\LOGO.svg" alt="Logo Game mania">
        <div class="sociais">
            <p>Assine nossa Newsletter</p>
    
            <form action>
            <input id="campo-email"  type="email" placeholder="E-mail" required>
            <button onclick="cadastrarNewsLetter()">Cadastrar</button>
        </form>
        
        <div class="siga-nos">
            <h2>Redes Sociais</h2>
            <a href="#"></a>
            <img src="assets\img\logo facebook.svg" alt="logo facebook">
            <a href="#"></a>
            <img src="assets\img\logo instagram.svg" alt="logo instagram">
        </div>
        </div>
        
    </div>
    </footer>
