<header>
    <div class="container">
        <a href="index.html"></a> 
        <img src="assets\img\LOGO.svg" alt="">
        <nav id="menu" class="menu">
            <a href="index.html">inicio</a>
            <a routerLink="login">login</a>
            <a href="index.html">unidades</a>
            <a href="index.html">e-sports</a>
        </nav>
        <a href="#" id="barras"onclick="mostrarMenu()">
            <img class="icone-menu" src="assets\img\burger menu.svg" alt="icone do menu de barras">
            </a>
    </div>
</header>
