

<div class="banner">
    <div class="cointaner-grid itens-banner">
        <div class="texto-banner">
            <h1>GAME MANIA</h1>
            <p>Mania de Vencer</p>
            <a routerLink="login">Faça Parte </a>
        </div>
    </div> 
</div>
<section class="jogos">
    <div id="jogos" class="container posicionamento-jogos">
        <img src="assets\img\logonintendo.svg" alt="logo da nintendo">
        <img src="assets\img\logoxbox.svg" alt="logo do xbox">
        <img src="assets\img\logoplaystation.svg" alt="logo do playstation">
        <img src="assets\img\logo android.svg" alt="logo do android">
    </div>
</section>

<section class="promocoes">
    <div class="container1">
        <h2>PROMOÇÕES</h2>
        <div class="espaco-produtos">
            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>
            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>
            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>
            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>
            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div> 
            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>
             

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

            <div class="cardnews">
                <img src="assets\img\gamefotos.svg" alt="gamefotos">
                <div class="textogamefotos">
                    <h3>Nome</h3>
                    <p>Descrição do produto</p>
                    <p class="valor"> R$ 0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="secaosobre">
    <div class="container1 conteudo-sobre">
        <div class="texto-sobre">
            <h2>Estamos no mercado para fazer a diferença.</h2>
            <p>Chega de vendedores que não sabem o que é uma memória RAM!</p>
            <p>Chega de vendedores que não sabem montar um Computador que rode pelo menos CAMPO MINADO!</p>
            <a href="index.html">Entre em contato conosco e saiba mais</a>
        </div>
    </div>
</section>



